AddType text/javascript .mjs
<FilesMatch "\.(html|js|mjs|css|json)$">
  <IfModule mod_expires.c>
    ExpiresActive Off
  </IfModule>
  <IfModule mod_headers.c>
    Header set Cache-Control "no-cache, max-age=0, must-revalidate"
  </IfModule>
</FilesMatch>
